    {# <span> id </span><input type="id" placeholder ="wpisz id"  ></br> #}
    {% if user is not defined %}

    <span> name</span><input id="nameInput" type="text" placeholder ="wpisz name"  ></br>
    <span> email </span><input id="emailInput" type="text" placeholder ="wpisz email"  ></br>
    <span>gender
        <select id="genderInput">
            <option>male</option>
            <option>female</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz gender"  ></br> #}
    <span>status
        <select id="statusInput">
            <option>active</option>
            <option>inactive</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz status"  ></br> #}
    {% endif %}
        {% if user is  defined %}

    <span> name</span><input id="nameInput" type="text" placeholder ="wpisz name" text ="{{ user != null ? user.getName() : "" }}" ></br>
    <span> email </span><input id="emailInput" type="text" placeholder ="wpisz email"  ></br>
    <span>gender
        <select id="genderInput">
            <option>male</option>
            <option>female</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz gender"  ></br> #}
    <span>status
        <select id="statusInput">
            <option>active</option>
            <option>inactive</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz status"  ></br> #}
    {% endif %}


    
